# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create a Pandas Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64


# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
my_list = [10,20,30,40,50,60,150,20,70,100]
my_series = pd.Series(my_list)
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6    150
7     20
8     70
9    100
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data. Then, print the DataFrame.

In [4]:
data = {'Name':['Alice','Bob','Claire'],
       'Age':[25,30,27],
       'Gender':['Female','Male','Female']}

updated_data = pd.DataFrame(data)
print(updated_data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types, similar to a spreadsheet or SQL table. It is a primary object in Pandas and is used to represent and manipulate data with rows and columns.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a DataFrame or a single vector in R.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [5]:

import pandas as pd

# Create a dictionary with data for a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from the 'Age' column of the DataFrame
ages = df['Age']

# Print the DataFrame and the Series
print("DataFrame:")
print(df)
print()
print("Series:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64


# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

1)head() and tail():

In [6]:
# Example usage of head() function
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# View the first two rows of the DataFrame
print(df.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

2)describe():

In [8]:
# Example usage of describe() function
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Compute summary statistics of the DataFrame
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

3)groupby():

In [9]:
# Example usage of groupby() function
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva', 'Frank'],
        'Age': [25, 30, 27, 25, 35, 32],
        'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male']}
df = pd.DataFrame(data)

# Group the DataFrame by 'Gender' column and compute the mean of 'Age' column for each group
grouped_df = df.groupby('Gender')['Age'].mean()
print(grouped_df)

Gender
Female    29.0
Male      29.0
Name: Age, dtype: float64

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, DATA MUTABILITY refers to the ability to change the values within a data structure, while SIZE MUTABILITY refers to the ability to change the size or shape of the data structure itself.

All three, that is Series, DataFrame and Panel are DATA MUTABLE, meaning that you can change the values within them, but only DataFrame and Panel are SIZE MUTABLE, meaning that you can change their shape or size.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:

import pandas as pd

# create three Series objects
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# combine the Series objects into a dictionary
data = {'Name': names, 'Age': ages, 'Gender': genders}

# create the DataFrame
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female